/*changes the syles for various shinyApp elements*/

/*changes the background color for the tab bar*/
.navbar-default {
  background-color: aliceblue;
}

/*bolds the text for h4s to make them stand out more*/
h4 {
  font-weight: bold;
}

/*changes the font and size of paragraph text*/
p {
  font-size: 16px;
  font-family: "Georgia", Times, Serif;
}

/*adds a background to and bolds main headers*/
h1 {
  font-weight: bold;
  background-color: lightsteelblue;
  padding: 5px;
}

/*italicizes secondary headers*/
h2 {
  font-style: italic;
}